*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lato{
  font-family: "Lato", sans-serif;
  font-style: normal;
}
/* section-01 */
#section-01{
  display: flex;
  padding: 0 100px;
  padding-top: 80px;
  gap: 95px;
  background-color: rgba(229, 84, 115, 0.1);
}
.flower-head h2{
  font-size: 80px;
  font-weight: 800;
  color: #272727;
}
.flower-head p{
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  line-height: 27px;
  margin: 32px 0;
}
.btn{
  font-size: 20px;
  font-weight: bold;
  line-height: auto;
  padding: 20px 43px;
  border: none;
  border-radius: 8px;
  background-color: #E55473;
  color: #FFFFFF;
  cursor: pointer;
}
.rose img{
  max-width: 630px;
}
/* section-02 */
#section-02{
margin: 150px 150px 0 150px;
}
.feature{
  text-align: center;
}
.feature h3{
  font-size: 40px;
  font-weight: 800;
  color: #272727;
  margin-bottom: 24px;
}
.feature p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #272727;
}
.flower{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}
.flower-card a{
font-size: 24px;
font-weight: bold;
line-height: 35px;
color: #272727;
display: grid;
text-align: center;
}
.card{
  padding-top: 100px;
  background-color: rgba(167, 33, 98, 0.15);
  border: none;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 600px;
  text-align:center;
  margin-bottom: 25px;
}
.card img{
  margin-top: 26px;
}
.abc img{
  margin-top: 70px;
}
/* section-03 */
#service{
  margin: 120px 150px;
}
.service{
  display: flex;
  justify-content: space-between;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 80px 150px;
  border: none;
  border-radius: 10px;
}
.icon p{
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  color: rgba(39, 39, 39, 0.8);
}
